CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# The build directory is where CMake generates the build system files.
build
_build

# Visual Studio Code specific files
.vscode

# ignore compiled shader files
*.spv
*.animationTex
*.hlsl

#ignore compiled script files
*.cyc